@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Global styles */
.window-app {
  font-family: "Kanit", sans-serif;
  background: none;
  font-size: larger;
}

.window-app .window-content{
  background:#fefbea;
  background: url(../assets/background2.jpg);
} 

.window-app .window-header{
  background: #191813;
  
}

.sheet header.sheet-header > *{
  flex: 0.58;
  flex-direction: column;
}

.sheet nav.sheet-tabs{
  margin: 0;
  border: none;
}

.sheet nav.sheet-tabs > [data-tab] {
  background: azure;
  border: #000 2px solid;
  border-radius: 10px;
  margin:0;
  padding:3px;
}

.sheet.journal-entry .window-content{
  background: black;
}

.plaguebound{
  background:#729e71;
}

.powerDice{
  display:flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.powerDice button{
  width: 40px;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to ironbound sheets */
.ironbound .item-form {
  font-family: "Roboto", sans-serif;
}

.ironbound select{
  background:white;
}

.ironbound .sheet-header .actor{
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 350px;
}

.ironbound .sheet-header .profile-img {
  height: 100%;
}
.ironbound .sheet-header .header-fields {
  flex: 1;
}

.ironbound .sheet-header h1.charname {
  height: 75px;
  padding: 0px;
  border-bottom: 0;
}

.ironbound .sheet-header h1.charClass {
  height: 75px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.ironbound .sheet-header h1.species {
  height: 25px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.ironbound .sheet-header h1.charClass{
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ironbound .sheet-header h1.charClass input {
  width: 100%;
  height: 35px;
  margin: 0;
}
.ironbound .sheet-header h1.species input {
  width: 100%;
  height: 35px;
  margin: 0;
}
.ironbound .sheet-tabs {
  flex: 0;
}

.item_name{
  display: flex;
  flex-direction: row;
  margin: 4px;
  height: 75px;
}

.favoriteBtn{
  height: 75px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ironbound .sheet-body,
.ironbound .sheet-body .tab,
.ironbound .sheet-body .tab .editor {
  height: 100%;
  background-color: transparent;
}

.ironbound .sheet-boon {
  flex: 0.45;
}

.ironbound .sheet-boon-npc {
  flex: 0.35;
}

.sheet .editor-content{
  border: black solid 2px;
  padding: 10px;
  margin: 5px;
  background:#c9c7b86f;
  height: 300px;
}

.ironbound .tox .tox-editor-container {
  background: #fff;
}
.ironbound .tox .tox-edit-area {
  padding: 0 8px;
}
.ironbound .resource-label {
  font-weight: bold;
}
.ironbound .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  /* border: 2px groove #eeede0; */
  font-weight: bold;
}
.ironbound .items-header > * {
  font-size: 14px;
  text-align: center;
}
.ironbound .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.ironbound .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
  background: #c9c7b853;
}
.ironbound .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ironbound .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.ironbound .items-list .item-name h3, .ironbound .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.ironbound .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.ironbound .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.ironbound .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.ironbound .items-list .item:last-child {
  border-bottom: none;
}
.ironbound .items-list .item .item-name {
  color: #191813;
}
.ironbound .items-list .item .item-name .item-image {
  flex: 0 0 24px;
  height: 24px;
  background-size: 24px;
  border: none;
  margin-right: 5px;
}
.ironbound .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.ironbound .items-list .items-header {
  height: 40px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background:#c9c7b86f;
  border: 2px groove #eeede0;
  font-weight: bold;
}
.ironbound .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.ironbound .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.ironbound .item-formula {
  flex: 0 0 90px;
  padding: 0 4px;
  justify-content: center;
  align-items: center;
}

.ironbound .item-description{
  display: flex;
  height: 100px;
  overflow-y: auto;
}


.ironbound .effects .item .effect-source,
.ironbound .effects .item .effect-duration,
.ironbound .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.ironbound .effects .item .effect-controls {
  border: none;
}

.ironbound input {
  background-color: white;
}

.ironbound input[type="number"] {
  width:50px;
  background-color: white;
}

.ironbound .item-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: medium;
  margin: 0;
}

.item-attributes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: 1em;
  padding: 1rem;
  background-color: rgba(188, 190, 190, 0.949);
  border: 2px solid #000;
  border-radius: 10px;
  align-items: center;
}
.item-attributes label{
  font-weight: 600;
}

.pool-section{
  flex: 0;
  justify-content: center;
  align-items: center;
  padding: 5px;
  min-height: 150px;
}

.pool-section h3{
  border-bottom: 0 !important;
}

.pools{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.arcane-holder{
  background-color: #729e71;
  border: 2px solid black;
  border-radius: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: white;
  text-decoration: none;
}
.item-qty{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10px;
  max-width: 70px;
}

.physical-holder{
  background-color: #0c7fa3;
  border: 2px solid black;
  border-radius: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: white;
}

.mental-holder{
  background-color: #7c4158;
  border: 2px solid black;
  border-radius: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: white;
  text-decoration: none;
}

.change-btn{
  width: 25px;
  height: 25px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#c9c7b8;
  margin: 3px;
}

.change-money-btn{
  width: 25px;
  height: 25px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#c9c7b8;
  margin: 3px;
}

.boon-btn{
  width: 25px;
  height: 25px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#c9c7b8;
  margin: 3px;
}

.destinyRefresh-btn{
  width: 25px;
  height: 25px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#c9c7b8;
  margin: 3px;
}

.refresh-btn{
  width: 25px;
  height: 25px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#c9c7b8;
  margin: 3px;
}

.btn{
  width: 100%;
  height: 25px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#c9c7b8;
  margin: 3px;
}

.ironbound-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
.ironbound-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.def-attribute{
   display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
  width: 100%;
}

.stat-row{
  display: flex;
  flex-direction: row;
  flex: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid black;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  background: #c9c7b8aa;
}
.stat-row h3{
  margin: 10px;
}

.boons-banes{
  display: flex;
  flex-direction: column;
  width:50%;
  padding: 3px;

}

.boon{
  border-right: #000 solid 2px;
}

.boon-bane-container{
  display: flex;
  flex-direction: row;
  width:100%;
  height:100%;
  overflow-y: auto;
}

.boon-bane-title-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 3px;
}

.classRow{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  align-items: center;
  margin-top: 2px;
}

.item-checkbox{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.rollDestinyDie-btn{
  margin-right: 5px;
}

.boon-dialog{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.boon-num-field{
  width: 60px !important;
}

.boon-advance-btn{
  width: 25px;
  height: 25px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#c9c7b8;
  margin: 3px;
}

.roll-btn-container{
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
}

.roll-btn{
  width: 75px;
  height: 25px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#c9c7b8;
  margin: 3px;
}
.chat_roll{
  background:#444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destinyDie-btn{
  width: 100%;
  height: 25px;
  background-color: #c9c7b8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#444;
  margin: 3px;
}

.dice-roll{
  width:100%;
  background-color: #444;
  color:#c9c7b8;
}

.chat-message{
  background: #444;
  color:#c9c7b8;
}

.message-sender{
  color:#c9c7b8;
}

.message-metadata{
  color:#c9c7b8;
}

.chat-addition-btn{
  width: 100%;
  height: 25px;
  background-color: #c9c7b8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#444;
  margin: 3px;
}

.chat-results{
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: larger;
  justify-content: center;
  align-items: center;
}

.die-result{
  margin-left: 3px;
  margin-right: 3px;
}

.chat-add{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: larger;
}

.dice-tooltip .dice-rolls .roll.discarded, .dice-tooltip .dice-rolls .roll.rerolled{
  color:black !important;
  filter:sepia(0.7) contrast(0.8) opacity(0.5) !important;
}

.add-pool-btn{
  width: 25px;
  height: 25px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#c9c7b8;
  margin: 3px;
}

.pool-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.pool-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.submit-pool-add{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #444;
  color:#c9c7b8;
  padding: 10px;
}

.change-actionPoint-btn{
  width: 25px;
  height: 25px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#c9c7b8;
  margin: 3px;
}

.clickShortRest{
  width: 35px;
  height: 35px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#c9c7b8;
  margin: 3px;
  padding: 4px;
}

.clickLongRest{
  width: 35px;
  height: 35px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#c9c7b8;
  margin: 3px;
  padding: 4px;
}

.refresh-actionPoints-btn{
   width: 25px;
  height: 25px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#c9c7b8;
  margin: 3px;
}

.chat-pools{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.targetNumber{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sheet-stats{
  flex: 0.45;
}

.headerSpacer{
  flex: 0.15;
}

.stat-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.m20{
  margin-left: 20px;
  margin-right: 20px;
}

.mark-of-doom{
  border: none;
  background: transparent;
  height: 25px !important;
  width: 25px !important;
  margin: 6 !important;

}

.doomContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.imgContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 100%;
  background: #c9c7b896;
  margin: 5px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.m10{
  margin-left: 10px;
  margin-right: 10px;
}

.deleteClass{
  margin: 6px;
}

.actorInput{
  text-align: center !important;
  background: #fff !important;
}

.critTitle{
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: solid black 2px;
}
.critRoll{
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: none;
}

.critFormula{
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: none;
}

.critHolder{
  background: crimson;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:#000 solid 2px;
}

.healRollData{
  background:#729e71;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:#000 solid 2px;
}

.rollcontainers{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rollPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rollBtn{
  width: 100%;
  height: 25px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#c9c7b8;
  margin: 3px;
}

.addtohealth{
    width: 100%;
  height: 25px;
  background-color: #c9c7b8 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#444;
  margin: 3px;
}
.wolfIcon{
  width: 25px;
  height: 25px;
  background: green
}

.poolCurrent{
  margin:0;
}

.critFail{
  border: none;
  color: Red;
}
.critSuccess{
  border: none;
  color: green;
}