<div class="">
    <h1>Boons / Banes</h1>
    <div class="boon-dialog">
        <a class="boon-advance-btn" data-addingNum="1"><i class="fa-solid fa-plus"></i></a>
        <input class="boon-num-field" type="number" name="boons" value="{{actor.system.currentBoons}}" data-dtype="Number"/>
        <a class="boon-advance-btn" data-addingNum="-1"><i class="fa-solid fa-minus"></i></a>
    </div>
    <div class="roll-btn-container">
        <a class="roll-btn" data-type="{{rollType}}" data-pool="{{pool}}" data-ap="{{ap}}">Roll</a>
    </div>
</div>